<h1 class="ui header">Artist</h1>
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @artists.each do |artist| %>
      <tr class="center aligned">
        <td>
          <img class="ui avatar image small" src="https://robohash.org/<%= artist.avatar %>?set=set4" />
        </td>
        <td><%= link_to "Show", artist_path(artist) %></td>
        <td><%= link_to "Edit", edit_artist_path(artist) %></td>
        <td><%= link_to "Destroy", artist_path(artist), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to "New Artist", new_artist_path %>